body
{
    margin:0;
    color: black;
    background-color: #F5F5F5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 #container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    background: #eaebf1;
    border-radius: 5%;
    padding: 25px;
    border: 1px #b4b7ccd5 solid;
    margin-bottom: 10px;
    
   }
   img{
    width: 400px;
    display: block;
    margin: auto;
   }